<snippet tags="earth earthMusicA" name="homeA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|homeA0]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, my father went on another business trip to New Mexico. I could count on my hands the number of weeks in the year he was home. I was starting to forget his face.</p>

        <p>[[⮕ Next|homeA1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, I started wandering the neighborhood after school.</p>

        <p>[[⮕ Next|homeA2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The weather was hot, but home was hotter. My mother never turned on the AC until she had to. Inside, the air was stifling. The Christian broadcasts my grandmother favored could penetrate through any wall.</p>

        <p>[[⮕ Next|homeA3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Don't we long to be like Adam and Eve in the garden walking with God, knowing God's love shed abroad in our hearts? Today men live their lives on a dunghill. The beautiful Garden has become a wilderness. The heart that once was a temple of God is now a den of thieves."</p>

        <p>[[⮕ Next|homeA3.5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA3.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Once Adam lived his days without a cold; he never even sniffled. Now we are a race of dying men and women, none is spared, neither old nor young. The wages of sin is death."</p>

        <p>[[⮕ Next|homeA4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My grandfather was there, too. He had the habit of coming to my door in the middle of the night and knocking while I tried to sleep. I learned to lock my door after the first time, but of course he learned nothing. He couldn't.</p>

        <p>[[⮕ Next|homeA5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My wanderings took me nowhere.</p>

        <p>[[⮕ Next|homeA5.5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA5.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The suburb terminated at one end in a three-lane road, and at the other end in a four-lane road. No pedestrian crossings.</p>

        <p>[[⮕ Next|homeA6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="homeA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_suburbs.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>There was nowhere to go.</p>

        <p>[[⮕ Next|dreamtransition2]]</p>
    </div>
</snippet>