<snippet tags="earth earthMusicA" name="youA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|youA1]]</p>
    </div>

<% 
mainScript.preload([
    "assets/9_center1.png.gif",
    "assets/9_center2.png.gif",
    "assets/9_church.png.gif",
    "assets/9_flower1.png.gif",
    "assets/9_flower2.png.gif",
    "assets/9_flower3.png.gif",
    "assets/9_garden.png.gif",
    "assets/9_garden2.png.gif",
    "assets/9_garden3.png.gif",
    "assets/9_garden4.png.gif",
    "assets/9_house1.png.gif",
    "assets/9_house2.png.gif",
    "assets/9_houseInterior.png.gif",
    "assets/cutscene1_2.gif",
    "assets/cutscene_cover.gif",
    "assets/cutscene_cover_end.gif",
    "assets/cutscene_deer_left.gif",
    "assets/cutscene_deer_right.gif",
    "assets/d_aditi.gif",
    "assets/d_amalgamia.gif",
    "assets/d_cheeyon.gif",
    "assets/d_deer1.gif",
    "assets/d_deer2.gif",
    "assets/d_ellie.gif",
    "assets/d_ifeanyi.gif",
    "assets/d_isaiah.gif",
    "assets/d_jacob.gif",
    "assets/d_jessamyn.gif",
    "assets/d_joyce.gif",
    "assets/d_kseniya.gif",
    "assets/d_lekha.gif",
    "assets/d_mathias.gif",
    "assets/d_niveah.gif",
    "assets/d_prism.gif",
    "assets/d_tanqing.gif",
    "assets/d_wei.gif",
    "assets/d_wesley.gif",
    "assets/d_yiyun.gif",
    "assets/eden0b.gif",
    "assets/eden1.gif",
    "assets/eden2b.gif",
    "assets/field.gif",
    "assets/garden_center.gif",
    "assets/garden_flower1.gif",
    "assets/garden_flower2.gif",
    "assets/garden_flower3.gif",
    "assets/garden_glade.gif",
    "assets/garden_startpath.gif",
    "assets/house2_1.gif",
    "assets/house2_2.gif",
    "assets/lily1.gif",
    "assets/overlook0.gif",
    "assets/overlook1.gif",
    "assets/overlook2.gif",
    "assets/overlook2b.gif",
]);
%>

</snippet>

<snippet tags="earth earthMusicA" name="youA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img src="assets/9portrait1b.png.gif" class="absoluteAlign bwImage" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="ME">

    <div class="absoluteAlign blackBg textPanel">
        <p>You sat with me for lunch because I was one of the few people who wouldn't shoo you away. You could have been more popular if you tried, but you got too excited about things, said the wrong words at the wrong times in the wrong tone of voice. And you talked loudly about how you didn't study, because you didn't like to. I saw how the others glared at you for that.</p>

        <p>[[⮕ Next|youA2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img class="absoluteAlign bwImage you" alt="YOU">

    <div class="absoluteAlign blackBg textPanel">
        <p>"What will you do after you graduate?" you asked me.</p>

        <p>[[⮕ Next|youA3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img src="assets/9portrait1b.png.gif" class="absoluteAlign bwImage" alt="ME">

    <div class="absoluteAlign blackBg textPanel">
        <p>"I don't know. I haven't thought about it."</p>

        <p>[[⮕ Next|youA4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img class="absoluteAlign bwImage you" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="YOU">

    <div class="absoluteAlign blackBg textPanel">
        <p>"You mean you haven't applied to colleges or anything?"</p>

        <p>[[⮕ Next|youA5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img src="assets/9portrait1b.png.gif" class="absoluteAlign bwImage" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="ME">

    <div class="absoluteAlign blackBg textPanel">
        <p>"Did you?"</p>

        <p>[[⮕ Next|youA6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img class="absoluteAlign bwImage you" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="YOU">

    <div class="absoluteAlign blackBg textPanel">
        <p>"Georgia State, but I dunno if I'll get in. Might go to community college if I don't. I'm not really sure what I want to do with my life. Guessing it's the same with you, huh?"</p>

        <p>[[⮕ Next|youA7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img src="assets/9portrait1b.png.gif" class="absoluteAlign bwImage" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="ME">

    <div class="absoluteAlign blackBg textPanel">
        <p>And I nodded, but my thoughts were elsewhere entirely. </p>

        <p>[[⮕ Next|youA8]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youA8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>

    <img src="assets/9portrait1b.png.gif" class="absoluteAlign bwImage" style="right: 1%; top: auto; left: auto; bottom: 1%;" alt="ME">

    <div class="absoluteAlign blackBg textPanel">
        <p>I never liked it when people talked about the future.</p>

        <p>[[⮕ Next|homeA_transition]]</p>
    </div>
</snippet>