<snippet tags="earth earthMusicA meImage" name="drawing1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_lawn.gif'); background-size: cover"></div>

    <img class="bwImage" src="assets/side_drawing.png" style="width: 14%; background-color: white; border: 4px double black; bottom: 38%" alt="drawing"/>

    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, I sat on the grass after school and drew pictures.</p>

        <p>[[⮕ Next|drawing2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="drawing2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_lawn.gif'); background-size: cover"></div>

    <img class="bwImage" src="assets/side_drawing.png" style="width: 14%; background-color: white; border: 4px double black; bottom: 38%" alt="drawing"/>

    <div class="absoluteAlign blackBg textPanel">
        <p>Heat distorted the air and at times seemed to melt the trees away entirely, the sun and sky too, dissolving them all, revealing behind them something I could not quite understand, a lesser-defined world that wavered beyond the confines of physical space.</p>

        <p>[[⮕ Next|drawing3]]</p>
    </div>

<% 
mainScript.preload([
    "assets/9_gate1.png.gif",
    "assets/9_path1.png.gif",
    "assets/9_path2.png.gif",
    "assets/9_path3.png.gif",
    "assets/9_path4.png.gif",
    "assets/9_path5.png.gif",
    "assets/9_path6.png.gif",
    "assets/d_benedykt.gif",
    "assets/earth_church2.gif",
    "assets/earth_classroom.gif",
    "assets/earth_classroom2.gif",
    "assets/earth_classroom3.gif",
    "assets/earth_classroom4.gif",
    "assets/earth_cubicle.gif",
    "assets/earth_hotel_suite.gif",
    "assets/earth_kitchen.gif",
    "assets/earth_livingroom.gif",
    "assets/earth_picnic_tables.gif",
    "assets/earth_suburbs.gif",
    "assets/9portrait1b.png.gif",
    "assets/9portrait2a.png.gif",
    "assets/9portrait2b.png.gif",
]);
%>

</snippet>

<snippet tags="earth earthMusicA meImage" name="drawing3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_lawn.gif'); background-size: cover"></div>

    <img class="bwImage" src="assets/side_drawing.png" style="width: 14%; background-color: white; border: 4px double black; bottom: 38%" alt="drawing"/>

    <div class="absoluteAlign blackBg textPanel">
        <p>My head ached. My sketches multiplied. I had time to perfect them, since my mother took hours to finish work and pick me up.</p>

        <p>Sometimes she forgot, and I had to use the school phone to remind her.</p>

        <p>[[⮕ Next|drawing4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="drawing4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_lawn.gif'); background-size: cover"></div>

    <img class="bwImage" src="assets/side_drawing.png" style="width: 14%; background-color: white; border: 4px double black; bottom: 38%" alt="drawing"/>

    <div class="absoluteAlign blackBg textPanel">
        <p>I didn't have my own phone. There was no one I wanted to talk to.</p>

        <p>[[⮕ Next|dreamtransition1]]</p>
    </div>
</snippet>