<snippet tags="earth" name="drawing1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, I sat on the grass after school and drew pictures.</p>

        <p>[[⮕ Next|drawing2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="drawing2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Heat distorted the air and at times seemed to melt the trees away entirely, the sun and sky too, dissolving them all, revealing behind them something I could not quite understand, a lesser-defined world that wavered beyond the confines of physical space.</p>

        <p>[[⮕ Next|drawing3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="drawing3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My head ached. My sketches multiplied. I had time to perfect them, since my mother took hours to finish work and pick me up.</p>

        <p>Sometimes she forgot, and I had to use the school phone to remind her.</p>

        <p>[[⮕ Next|drawing4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="drawing4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I didn't have my own phone. There was no one I wanted to talk to.</p>

        <p>[[⮕ Next|dreamtransition1]]</p>
    </div>
</snippet>