<snippet tags="earth earthMusicA" name="youB_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|youB1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Wednesday. Ms. Warshall wanted a five-page paper on climate change policy by the end of the week.</p>

        <p>[[⮕ Next|youB2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"I had an odd dream last night," I said to you.</p>

        <p>[[⮕ Next|youB3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"What was it about?"</p>

        <p>[[⮕ Next|youB4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The whole world was rendered in watercolor and all things bled together and at the center of it was something beautiful I can't describe.</p>

        <p>[[⮕ Next|youB5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Something nice, I guess."</p>

        <p>[[⮕ Next|youB6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="youB6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"That's cool."</p>

        <p>[[⮕ Next|homeB_transition]]</p>
    </div>
</snippet>