<snippet tags="earth" name="breakroom_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        [TODO]

        <p>[[⮕ Next|breakroom1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The classroom is empty. There is a window with a tree outside and the sunlight is slanted so the leaves form a shadow on the wall.</p>

        <p>[[⮕ Next|breakroom2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I stand there. Breathe in. Out. There is a wad of gum stuck on a nearby table.</p>

        <p>[[⮕ Next|breakroom3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>It smells bad here.</p>

        <p>[[⮕ Next|breakroom4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I keep breathing.</p>

        <p>[[⮕ Next|breakroom5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My skin crawls.</p>

        <p>[[⮕ Next|breakroom6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>If you focus. If you blur your eyes. You don't have to worry about any of this ever again. It's not your fault. It's not your problem. These people aren't like you. You don't have to be normal. There's something wrong with everyone else. Stop. Breathe again. Again.</p>

        <p>[[⮕ Next|breakroom7]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Again.</p>

        <p>[[⮕ Next|breakroom8]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The door was here the whole time.</p>

        <p>[[⮕ Next|breakroom9]]</p>
    </div>
</snippet>

<snippet tags="earth" name="breakroom9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The music is swelling. I need to go.</p>

        <p>[[⮕ Next|breakroom10]]</p>
    </div>
</snippet>

