<snippet tags="earth" name="lifeA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        [TODO]

        <p>[[⮕ Next|lifeA0]]</p>
    </div>
</snippet>

<snippet tags="earth" name="lifeA0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, I was failing two classes and constantly surrounded by people who wanted to go to Ivy Leagues.</p>

        <p>[[⮕ Next|lifeA1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="lifeA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I existed around more likable, more sociable, more accomplished versions of me, who were better on every metric. Every possible reason I had to exist had already been covered by someone else.</p>

        <p>[[⮕ Next|lifeA2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="lifeA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I was good at nothing. Even my art was worse than mediocre.  Lindsay Sanborn would always be the best artist in the grade, and she was the only one who knew what she was doing. Compared to her, my drawings were scribbles. Stupid figures no one would pin to a wall.</p>

        <p>[[⮕ Next|lifeA3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="lifeA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I couldn't picture myself happy in the future. I didn't want a family or children or a car or a suburban home or an apartment in the city or a stable career. I couldn't imagine wanting any of those things. My life was an eternally blank page.</p>

        <p>[[⮕ Next|lifeA4]]</p>
    </div>
</snippet>


<snippet tags="earth" name="lifeA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>There was nothing to distinguish me besides my complete lack of relevance to the world.</p>

        <p>[[⮕ Next|grandmother_transition]]</p>
    </div>
</snippet>


