<snippet tags="earth" name="musicB_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        [TODO]

        <p>[[⮕ Next|musicA0]]</p>
    </div>
</snippet>

<snippet tags="earth" name="musicB0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I kept getting distracted. No longer sure if the strains of music were only in my own head.</p>

        <p>[[⮕ Next|musicB1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="musicB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The world wavered like water in a glass.</p>

        <p>[[⮕ Next|musicB2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="musicB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I saw everything as a reflection of something higher: a continuously unfolding revelation. A message meant for me alone, which I had failed to understand.</p>

        <p>[[⮕ Next|youC_transition]]</p>
    </div>
</snippet>

