<snippet tags="earth" name="restroom_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        [TODO]

        <p>[[⮕ Next|restroom1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The restroom is empty. There is a window with a tree outside and the sunlight is slanted so the leaves form a shadow on the tiled wall.</p>

        <p>[[⮕ Next|restroom2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I stand there. Breathe in. Out. There is a shred of tissue paper floating in the nearby stall.</p>

        <p>[[⮕ Next|restroom3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>It smells bad.</p>

        <p>[[⮕ Next|restroom4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I keep breathing.</p>

        <p>[[⮕ Next|restroom5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My skin crawls.</p>

        <p>[[⮕ Next|restroom6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>If you focus. If you blur your eyes. You don't have to worry about any of this ever again. It's not your fault. It's not your problem. These people aren't like you. You don't have to be normal. There's something wrong with everyone else. Stop. Breathe again. Again.</p>

        <p>[[⮕ Next|restroom7]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Again.</p>

        <p>[[⮕ Next|restroom8]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The door was here the whole time.</p>

        <p>[[⮕ Next|restroom9]]</p>
    </div>
</snippet>

<snippet tags="earth" name="restroom9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The music is swelling. I need to go.</p>

        <p>[[⮕ Next|restroom10]]</p>
    </div>
</snippet>

