<snippet tags="earth" name="youA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        [TODO]

        <p>[[⮕ Next|youA1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You sat with me for lunch because I was one of the few people who wouldn't shoo you away. You could have been more popular if you tried, but you got too excited about things, said the wrong words at the wrong times in the wrong tone of voice. And you talked loudly about how good your grades were. I saw how the others glared at you for that.</p>

        <p>[[⮕ Next|youA2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"What will you do after you graduate?" you asked me.</p>

        <p>[[⮕ Next|youA3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"I don't know. I haven't thought about it."</p>

        <p>[[⮕ Next|youA4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"You mean you haven't applied to colleges or anything?"</p>

        <p>[[⮕ Next|youA5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Did you?"</p>

        <p>[[⮕ Next|youA6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Georgia State, but I dunno if I'll get in. Might go to community college if I don't. I'm not really sure what I want to do with my life. Guessing it's the same with you, huh?"</p>

        <p>[[⮕ Next|youA7]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>And I nodded, but my thoughts were elsewhere entirely. </p>

        <p>[[⮕ Next|youA8]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youA8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I never liked it when people talked about the future.</p>

        <p>[[⮕ Next|homeA_transition]]</p>
    </div>
</snippet>