#iff-snippet div.textPanel {
    /*
    width: 50%;
    height: 50%;
    */
    width: 450px;
    height: 315px;
    margin: auto;
    padding: 10px;

    overflow: scroll;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.9);
}

#iff-snippet div.cutscenePanel {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 0px;
    overflow: visible;

    border-image: url("assets/black1.gif");
    border-color: #222;
    border-image-slice: 8;
    border-width: 7px;
    border-image-repeat: repeat;

    z-index: 10;
}
div.cutscenePanel > img {
    width: 100%;
}
div.cutscenePanel > .closeButton {
    position: absolute;
}
#iff-snippet div.bigCutscenePanel {
    width: 250px;
    height: 250px;
}

.nextButton {
    border: 1px solid #777777;
    padding: 3px;
    background-color: #000000;
    font-size: 20px;
    padding: 0px 4px 0px 4px;
    border-radius: 10px;
}
.nextButton:hover {
    background-color: #333333;
}

#inventory > img {
    width: 30px;
}

.transition {
    font-size: 50px;
    text-align: center;
    display: block;
}
.transition a {
    text-decoration: none;
}

#iff-snippet > div.bigPanel {
    width: 97%;
    height: 97%;
}
