@keyframes glow {
    0% {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes blur {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(4px);
    }
}

@keyframes rotatehue {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360);
    }
}