#passages {
    animation: rotatehueverylight 2s infinite alternate;
}

#iff-snippet > * {
    position: absolute;
}

.arrow,
.npc {
    cursor: pointer;
    z-index: 5;
}

.interactable {
    cursor: pointer;
    z-index: 4;
}

.arrow {
    width: 4%;
}

.closeButton {
    float: right;
}

.dialoguePanel {
    z-index: 10;
    font-size: 16px;
}
.dialoguePanel p {
    margin: 0;
}

#namePanel {
    z-index: 15;

    width: fit-content;
    height: fit-content;
    padding: 4px;

    position: absolute;
    top: auto;
    bottom: 145px;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.85);
    text-decoration: underline;
}

#gate1 {
    /* shimmer https://www.codeguage.com/blog/shimmer-effect-html-css */
    background: linear-gradient(
        45deg,
        rgba(175, 175, 175, 0.1) 45%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(175, 175, 175, 0.1) 55%);
    background-size: 300%;
    background-position-x: 100%;

    animation: shimmer 3s infinite linear;
    z-index: 3;
}
@keyframes shimmer {
    to {
        background-position-x: 0%;
    }
}

#gate2 {
    /* rainbow https://codepen.io/nohoid/pen/eYXpNL */
    background: linear-gradient(
        100deg,
        rgba(255, 255, 0, 0.1),
        rgba(0, 255, 0, 0.1),
        rgba(0, 255, 255, 0.1),
        rgba(0, 0, 255, 0.1),
        rgba(255, 0, 255, 0.1));
    background-size: 1800%;
    background-position-x: 100%;

    animation: rainbow 2s infinite linear;

    z-index: 2;
}
@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
