#passages {
    overflow: hidden;
    background-image: url(assets/thumbnail_ingame.gif);
    background-size: cover;
    background-position-y: bottom;
    animation: rotatehuelight 2s infinite alternate;
}