<snippet tags="earth" name="grandmother_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|grandmother1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Of my grandmother, what I remember is the screaming.</p>

        <p>[[⮕ Next|grandmother2]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>In the morning, she lambasted my grandfather for urinating on the bathroom floor in the middle of the night. "It got all over the place, I'm so sick of him, he can't do anything right," and so on. My mother nodded understandingly, as always, eyes fixed on her newspaper.</p>

        <p>[[⮕ Next|grandmother3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>In the afternoon, muffled arguments filtered out of their room in time with the television broadcasts. Scattered words heard through a wall:</p>

        <p>[[⮕ Next|grandmother4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Can't you do anything right?"<br/>
            "Cast further and further away from God..."<br/>
            "Just listen to me."<br/>
            "...transgressed the boundary lines... disobeyed the voice of God..."<br/>
            "Don't you remember..."<br/>
            "Hell will be a continual everlasting drifting into a black darkness."<br/>
            "What's <em>wrong</em> with you?"
        </p>

        <p>[[⮕ Next|grandmother5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Occasionally there were other sounds, low groanings and moanings, like those of an animal in pain; repetitive banging that reminded me of beatings and the snap of broken bones. In my room I imagined her hitting him, thrashing his brittle arms and legs, his fragile body crumpling beneath her hatred, as he lowed in agony, mindless like an animal, and she kept screaming and screaming and screaming.</p>

        <p>[[⮕ Next|grandmother6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The broadcasts continued on TV:</p>

        <p>[[⮕ Next|grandmother7]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"There shall be weeping and gnashing of teeth. God will create a special planet, and when judgment comes and they are carried away by the angels, bound hand and foot and cast into outer darkness, they're cast into this planet. And God will fling it into an outer cosmos and all through eternity it will drift further and further away from the light."</p>

        <p>[[⮕ Next|grandmother8]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Hell will be a continual everlasting drifting into a black darkness."</p>

        <p>[[⮕ Next|grandmother9]]</p>
    </div>
</snippet>

<snippet tags="earth" name="grandmother9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_livingroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"There is no hope."</p>

        <p>[[⮕ Next|grandmother2_transition]]</p>
    </div>
</snippet>