<snippet tags="earth earthMusicA" name="grandmother2_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|grandmother2_1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Your grandmother doesn't <em>scream</em>, exactly," said my mother, dabbling lotion onto her hands. "She's old. Her hearing's going. She's just talking to him. That's how old people talk."</p>

        <p>[[⮕ Next|grandmother2_2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Can't you do something about it?" I asked.</p>

        <p>[[⮕ Next|grandmother2_3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"And what do you think we should do."</p>

        <p>[["I don't know."|grandmother2_4]]</p>
        <p>[["Send them to therapy."|grandmother2_5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>She laughed. "Then don't bring it up next time."</p>

        <p>[[⮕ Next|grandmother2_7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>She laughed.</p>

        <p>[[⮕ Next|grandmother2_6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"You think we could send <em>them</em> to therapy? You're such a child, <span class="myName"></span>. You have a lot to learn, you know."</p>

        <p>[[⮕ Next|grandmother2_7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="grandmother2_7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_kitchen.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I never brought it up again.</p>

        <p>[[⮕ Next|dreamtransition4]]</p>
    </div>
</snippet>