<snippet tags="earth earthMusicA" name="churchA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|churchA1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My mother used to be more involved in church life. But after my grandfather got worse, after my father started taking his prolonged business trips, she stopped.</p>

        <p>[[⮕ Next|churchA2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Still, she took me to church every Sunday, and I never said no. After all the ways I had disappointed her, I didn't want to see the look in her face as I let go of the one last thing that mattered.</p>

        <p>[[⮕ Next|churchA3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>And I believed, or I thought I did.</p>

        <p>[[⮕ Next|churchA4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My grandmother went too, of course, and used our time in the car to opine on politics and religion. She disliked the new churches.</p>

        <p>[[⮕ Next|churchA4.5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA4.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"They teach nothing. They teach people to be satisfied with themselves, and to be content with the paths they're already going down. Faith isn't about that. Sometimes you need to put the fear of God into people. People these days don't fear God anymore. They don't respect Him. What has become of us?"</p>

        <p>[[⮕ Next|churchA5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The preacher said: "Life alone filled the Garden of Eden—death was non-existent. This life was not the bane dreary life often experienced in our world of sin. It was the abundant life of God, the kind Jesus said He came to restore to us. (St. John 10:10). This was life at its fullest, life like none known since then. The earth was in complete harmony with its creator."</p>

        <p>[[⮕ Next|churchA6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"When sin entered the human race, mankind lost the life they had known."</p>

        <p>[[⮕ Next|churchA7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="churchA7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_church2.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Death took its place."</p>

        <p>[[⮕ Next|musicA_transition]]</p>
    </div>
</snippet>