<snippet tags="earth earthMusicA" name="homeB_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|homeB0]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="homeB0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, I overslept frequently. My mother would raise her eyes from the newspaper and stare through me as I asked her to drive to school. "Okay," she said, as if school hadn't started ten minutes ago. She'd learned to expect nothing from me.</p>

        <p>[[⮕ Next|homeB1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="homeB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>My mother had an anxious manner. She never ended a sentence on a firm note. My memories of her are inextricably tied to my memories of her three-garage house where she lived all day, looking out the window at the other three-garage houses. Looking for nothing, since there was never anything to see.</p>

        <p>[[⮕ Next|homeB2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="homeB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>No one walked their dogs, and no children played in the streets. No point when you could just drive to the park outside the neighorhood. Our silent suburb had only cars and shuttered windows, never people.</p>

        <p>[[⮕ Next|homeB3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="homeB3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>We lived near a forest, when I was younger. Back then there were crows and mourning doves and other birds I could not name. Deer slipping between the trees. Then they developed the forest into another suburb, and my family moved: closer to the private high school they had decided to send me to, so we would be five minutes' drive away instead of fifty.</p>

        <p>[[⮕ Next|homeB4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA" name="homeB4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_hotel_suite.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Back then, my grandfather could still hold a conversation.</p>

        <p>[[⮕ Next|churchA_transition]]</p>
    </div>
</snippet>
