<snippet tags="earth earthMusicA" name="musicA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|musicA0]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="musicA0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, the sun caught the white flowering dogwood buds, and the freshly grown oaken leaves, and everything was rejuvinated. I felt sicker than ever.</p>

        <p>[[⮕ Next|musicA1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="musicA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I saw the other world in all things, concealed within the patterns of leaves, grass, rainwater. The shadows of the trees outside my window formed a door on my wall. I could not open it.</p>

        <p>[[⮕ Next|musicA2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="musicA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I went around with a head full of delirium and the constant awareness that if I'd stayed up one more hour to finish that homework assignment on time, or study for that test, I might not be failing two of my classes.</p>

        <p>[[⮕ Next|musicA3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicA meImage" name="musicA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>That spring, the music I heard in my dreams entered the waking world. It was there at school, strains of melody wafting through the open window as I sat at the desk. Notes high and pure enough to be mistaken for air.</p>

        <p>[[⮕ Next|dreamtransition3]]</p>
    </div>
</snippet>