<snippet name="dreamtransition1">
    <div style="text-align: center">
        <p class="transition">[[❃❃❃❃❃❃|garden_startpath]]</p>
    </div>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath2", 59, 41);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath3", 59, 42);
    mainScript.addArrow("down", "garden_startpath");

    mainScript.addNpc("assets/d_benedykt.gif", 20, 65, 30, "Benedykt", mainScript.dialogue.mournDialogue);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath3">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath4", 55, 43);
    mainScript.addArrow("down", "garden_startpath2", 92, 40);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath4">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath5", 59, 53);
    mainScript.addArrow("down", "garden_startpath3", 92, 53);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath5">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path5.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath6", 49, 67);
    mainScript.addArrow("down", "garden_startpath4", 92, 67);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath6">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path6.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath3-2", 55, 27)
    mainScript.addArrow("down", "garden_startpath5", 92, 30);
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath3-2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath5-2", 55, 43);
    mainScript.addArrow("down", "garden_startpath6", 92, 40);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath5-2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path5.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath4-2", 49, 67);
    mainScript.addArrow("down", "garden_startpath3-2", 92, 67);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath4-2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_startpath1-2", 59, 53);
    mainScript.addArrow("down", "garden_startpath5-2", 92, 53);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_startpath1-2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden_gate1", 59, 41);
    mainScript.addArrow("down", "garden_startpath4-2", 92, 41);
});
%>
</snippet>

<snippet tags="dream dreamMusicA" name="garden_gate1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_gate1.png.gif'); background-size: cover; animation: blur 0.75s infinite alternate ease"></div>

<div id="gate1" class="absoluteAlign bothHalves"></div>

<% 
$(function () {
    mainScript.addArrow("down", "garden_startpath1-2", 92, 40);

    const gate1 = document.getElementById("gate1");
    gate1.style.cursor = "pointer";
    gate1.addEventListener("click", () => {
        mainScript.showDialogue(null, mainScript.dialogue.gate1)
    });
});
%>

</snippet>

<snippet name="dream1end">
    <div style="text-align: center">
        <p>[[I woke up with the taste of dirt in my mouth.|youA_transition]]</p>
    </div>
</snippet>