<snippet name="about" tags="menu">
    <div class="absoluteAlign blackBg bothHalves">
        <p>[[Return to Main Menu|start]]</p>

        <h3>About</h3>

        <small><a class="linkReplaced removedOnClick" identifier="contentNotes">Click for content notes.</a><span class="linkReplacer hidden" identifier="contentNotes"> Suicide; domestic abuse references; evangelical Christianity; potential misgendering and deadnaming (censored); mild blood, violence, body horror; mild language</span></small>

        <p>This is an unsettling visual novel/point and click exploration game about a high school student who begins to have surreal dreams.</p>

        <p>It is inspired a little by Yume Nikki.</p>

        <p>It is extremely depressing.</p>

        <p>The estimated time to complete is 1 hour. There are two endings.</p>

        <p>Made for the <a class="outsideLink" href="https://itch.io/jam/feverdream-game-jam">FeverDream Game Jam 2024</a>. The theme was "abandoned garden".</p>

        <p>Used zehanort&#39;s <a class="outsideLink" href="https://github.com/zehanort/iffinity">iffinity</a>, which is similar to Twine but more involved on the coding side. Most things were done with vanilla Javascript.</p>

    <!--
    <br/>
    <p>[[Return to Main Menu|start]]</p>
    --></div>
</snippet>
