<snippet name="about" tags="menu">

<div class="absoluteAlign blackBg bothHalves">
    <p>[[Return to Main Menu|start]]</p>

    <h3>About</h3>

    <small><a class="linkReplaced removedOnClick" identifier="contentNotes">Click for content notes.</a><span class="linkReplacer hidden" identifier="contentNotes"> Suicide; senior abuse; mild blood, violence, body horror; mild language; religious references.</span></small>

    <!--
    <br/>
    <p>[[Return to Main Menu|start]]</p>
    -->
</div>
</snippet>