<snippet name="imageCredits" tags="menu">

<div class="absoluteAlign blackBg bothHalves">
    <p>[[Return to Main Menu|start]]</p>

    <h3>Image Credits</h3>

    <p>Images not listed below are in the public domain, mostly taken from <a class="outsideLink" href="https://commons.wikimedia.org">Wikimedia Commons</a> or <a class="outsideLink" href="https://artvee.com">Artvee</a>. All images have been modified. No AI art was used.</p>

    <p>Used a <a class="outsideLink" href="https://github.com/kadw108/Image-Converter">personal image converter program</a> for image/GIF editing and glitch effects.</p>

    <br><br>

    <p>House Interior</p>
    <ul>
        <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:3D_artwork.jpg">3D artwork, by Md. Mainul Islam</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
    </ul>

    <!--
    <br/>
    <p>[[Return to Main Menu|begin]]</p>
    -->
</div>
</snippet>