<snippet name="imageCredits" tags="menu">
    <div class="absoluteAlign blackBg bothHalves">
        <p>[[Return to Main Menu|start]]</p>

        <h3 class="linkReplaced removedOnClick" identifier="image">▶ Image Credits</h3>
        <div class="linkReplacer hidden" identifier="image">
            <h3 class="linkHider" identifier="image">▼ Image Credits</h3>

            <p>Character art drawn by KADW. Backgrounds from various sources. Used a <a class="outsideLink" href="https://github.com/kadw108/Image-Converter">personal image converter program</a> for image/GIF editing and glitch effects.</p>

            <p>All art not listed below is in the public domain. Background images are mostly photos from <a class="outsideLink" href="https://commons.wikimedia.org">Wikimedia Commons</a> or paintings from <a class="outsideLink" href="https://artvee.com">Artvee</a>. No AI art was used.</p>

            <p>For licensing purposes, all CC images have been modified.</p>

            <br />

            <p style="text-decoration: underline">My Neighborhood</p>
            <ul>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Bulcolic_Mc_Mansions_Leesburg_(4949100182).jpg">Bulcolic Mc Mansions Leesburg, by Brett VA</a> (<a href="https://creativecommons.org/licenses/by/2.0/deed.en">license</a>)</li>
            </ul>

            <p style="text-decoration: underline">House Interior</p>
            <ul>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:3D_artwork.jpg">3D artwork, by Md. Mainul Islam</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
            </ul>

            <p style="text-decoration: underline">Tower Interior</p>
            <ul>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Inside_the_Douglas_Tower,_Tantallon_Castle_-_geograph.org.uk_-_5070956.jpg">Inside the Douglas Tower, Tantallon Castle, by Mike Pennington</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Inside_the_tower,_Fintona_Abbey_-_geograph.org.uk_-_5060505.jpg">Inside the tower, Fintona Abbey, by Kenneth Allen</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Leaning_Tower_Pisa_-_Inside_01.jpg">Leaning Tower Pisa, by Jordiferrer</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Inside_the_tower_(18709741991).jpg">Inside the tower, by Tobiasvde</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Inside_LORAN_tower.JPG">Inside LORAN tower, by CambridgeBayWeather</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:The_inside_of_Kyneburgha%27s_Tower_-_geograph.org.uk_-_6077270.jpg">The inside of Kyneburgha's Tower, by Phillip Halling</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:3D_Mandelbulb_2.jpg">3D Mandelbulb 2, by Mariagat Włodek Głażewski</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:1850_Mandelbulb_3D.jpg">1850 Mandelbulb 3D, by Mariagata1959</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:3D_Mandelbulb_7.jpg">3D Mandelbulb 7, by Mariagat Włodek Głażewski</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Mardavij_Pigeon_Tower_inside-1.jpg">Mardavij Pigeon Tower inside-1, by Գարվիք</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Farleigh_Hungerford_Castle_-_inside_the_South_East_Tower_(looking_up)_-_geograph.org.uk_-_3432081.jpg">Farleigh Hungerford Castle - inside the South East Tower (looking up), by Mike Searle</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Semaphore_Tower_inside_Tantipukur_jungle_of_Bankura_district_in_West_Bengal_09.jpg">Semaphore Tower inside Tantipukur jungle of Bankura district in West Bengal 09, by Amitabha Gupta</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.en">license</a>)</li>
                <li><a class="outsideLink" href="https://commons.wikimedia.org/wiki/File:Petrial_triangular_prism.gif">Petrial triangular prism by A2569875</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">license</a>)</li>
            </ul>
        </div>

        <h3 class="linkReplaced removedOnClick" identifier="text">▶ Text Credits</h3>
        <div class="linkReplacer hidden" identifier="text">
            <h3 class="linkHider" identifier="text">▼ Text Credits</h3>

            <p style="text-decoration: underline">Sermons</p>

            <p>Text from in-game sermons, religious discussions, and some NPC dialogues taken from real sermons available online.</p>

            <ul>
                <li><a class="outsideLink" href="https://geoffthomas.org/index.php/gtsermons/28-17-the-garden-of-eden/">2:8-17 The Garden of Eden, sermon by Geoff Thomas</a></li>
                <li><a class="outsideLink" href="https://www.sermoncentral.com/sermons/the-garden-bruce-morrison-sermon-on-gifts-giving-58157">The Garden, sermon by Bruce Morrison</a></li>
                <li><a class="outsideLink" href="https://www.youtube.com/watch?v=_vZwn9Vfn2g">Hell - What is it? Who's going there?, sermon by David Wilkerson</a></li>
                <li><a class="outsideLink" href="https://geoffthomas.org/index.php/gtsermons/total-depravity/">Total Depravity, sermon by Geoff Thomas</a></li>
                <li><a class="outsideLink" href="https://www.keepbelieving.com/sermon/what-makes-a-marriage/">What Makes A Marriage?, sermon by Ray Pritchard</a></li>
                <li><a class="outsideLink" href="https://geoffthomas.org/index.php/gtsermons/522-24-wives-submission-to-their-husbands/">Wives' submission to their husbands, sermon by Geoff Thomas</a></li>
                <li><a class="outsideLink" href="https://www.youtube.com/watch?v=w82HlNaKK2E">Satan's Final War Plan Exposed, sermon by David Wilkerson</a></li>
            </ul>

            <p style="text-decoration: underline">Deer</p>

            <ul>
                <li>Deer△ quotes Charles Kinbote from Vladimir Nabokov's novel Pale Fire.</li>
                <li>Deer▽ quotes <a href="https://www.reasonablefaith.org/writings/popular-writings/existence-nature-of-god/the-absurdity-of-life-without-god">The Absurdity of Life without God</a> by William Lane Craig.</li>
            </ul>
        </div>

        <h3 class="linkReplaced removedOnClick" identifier="music">▶ Music Credits</h3>
        <div class="linkReplacer hidden" identifier="music">
            <h3 class="linkHider" identifier="music">▼ Music Credits</h3>

            <p style="text-decoration: underline">Sound Effects</p>

            <ul>
                <li><a class="outsideLink" href="https://www.freesoundslibrary.com/birds-noises/">"Birds Noises", by Spanac</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/4.0/">license</a>)</li>
                <li><a class="outsideLink" href="https://soundcloud.com/onlyinlapland/only-in-lapland-lapland-sound-collection-gusts-of-wind-through-birch-trees-forest">"Gusts of Wind Through Birch Trees, Forest", by Only in Lapland</a> (<a class="outsideLink" href="https://creativecommons.org/licenses/by/3.0/">license</a>)</li>
            </ul>

            <p style="text-decoration: underline">Tracks</p>

            <ul>
                <li><a class="outsideLink" href="https://www.youtube.com/watch?v=IT8WDj7mA3o">"Enchanted Woods", by Daniel Simmons (Glitch MMO OST)</a> (<a class="outsideLink" href="https://www.glitchthegame.com/">public domain</a>)</li>
                <li>
                    <a class="outsideLink" href="https://lapfox.bandcamp.com/album/evaporation">"establishing shot ura" from album <em>evaporation</em>, by deuteronomy (Em Essex @ Halley Labs)</a>
                </li>
                <li>
                    <a class="outsideLink" href="https://lapfox.bandcamp.com/album/evaporation">"starboarding ura (w/ Darius)" from album <em>evaporation</em>, by deuteronomy (Em Essex @ Halley Labs)</a>
                </li>
            </ul>

            <p>Halley Labs tracks used with license. Audio remains property of Halley Labs. See Em Essex's <a href="https://msx.horse/res.php">resources license</a> and <a href="https://msx.horse/scarchive.php">"2024_03_07 // anonymous?" in the FAQ.</a></p>

            <p>Note all sound has been compressed for storage purposes and quality has been lowered.</p>
        </div>

        <br />
        <p>[[Return to Main Menu|start]]</p>
    </div>
</snippet>
