<snippet name="intro">
    <div style="text-align: center">
        <!-- <p>[[That spring my head overflowed with visions, and I dreamed of another world.|drawing1]]</p> -->
        <p>[[That spring my head overflowed with visions, and I dreamed of another world.|dreamtransition3]]</p>
    </div>
</snippet>