<snippet name="start" start>
    <div style="text-align: center">
        <h4>GARDEN</h4>

        <p>by KADW</p>

        <br/>
        <p>[[Enter.|intro]]</p>
        <br/>
        <p>[[Image Credits|imageCredits]]</p>
    </div>
</snippet>
