<snippet name="loading" start>
    <div style="text-align: center">
        <h3>...LOADING...</h3>

        <img src="assets/bw2.gif" style="width: 50%" alt="Loading image...">

        <p>[[PROCEED|start]]</p>
    </div>
</snippet>

<snippet name="start" tags="menu titlescreen">
    <div style="text-align: center; position: absolute; top: 65%; left: 5%; background-color: rgba(0, 0, 0, 0.6)">
        <h3>In All My Dreams I Choke On Invisible Smoke</h3>

        <p>by KADW (<small>v1.1.1</small>)</p>

        <p>[[Start|choice]] | [[About|about]] | [[Credits|imageCredits]]</p>
    </div>

    <% 
    $(function () {
        /* Reset for easy restart */

        story.transitionMessage = null;
        story.myInventory = new mainScript.Inventory();

        story.connection = 0;

        story.gender = null;
        story.gender_you = null;
        story.name = null;
    });
    %>

</snippet>
