<snippet name="lily_dialogue1">

<p>LILY: This garden has fallen into disrepair. It is more appropriately a jungle, now. The well-tended paths have become labyrinths. What a shame. What a shame. [[⮕|lily_dialogue2]]</p>

</snippet>

<snippet name="lily_dialogue2">

<p>LILY: This garden has fallen into disrepair. It is more appropriately a jungle, now. The well-tended paths have become labyrinths. What a shame. What a shame. [[⮕|lily_dialogue2]]</p>

</snippet>