<snippet tags="earth earthMusicB meImage2" name="endingB_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|endingB1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You knocked.</p>

        <p>[[⮕ Next|endingB2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You said, "Hey, are you there? I saw you going in, I'm sorry, if you're going through a bad time or whatever, I'm here for you, okay? I don't know what else I can say."</p>

        <p>[[⮕ Next|endingB3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said nothing.</p>

        <p>[[⮕ Next|endingB4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"You didn't really mean that stuff about how you don't care about me, right? I know I haven't been—I mean, maybe I screwed up a bit, but I don't..."</p>

        <p>[[⮕ Next|endingB5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said nothing.</p>

        <p>[[⮕ Next|endingB6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Look, I'm sorry. Can I come in? Please, can I come in? I have something I need to tell you. It's really important. I—you're my only friend."</p>

        <p>[[⮕ Next|endingB7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said nothing, but you opened the door and walked in anyway.</p>

        <p>[[⮕ Next|endingB8]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>It was a perfectly mundane classroom.</p>

        <p>[[⮕ Next|endingB9]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Neutral sunlight whitened the walls. You looked momentarily surprised, as if you had been expecting worse.</p>

        <p>[[⮕ Next|endingB10]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB10">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Then you walked closer.</p>

        <p>[[⮕ Next|endingB11]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB11">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"<span class="myName"></span>," you said. "I love you. I love you. I mean, romantically. I love you and I've been in love with you for years, okay? I know now isn't the best time, but I had to tell you."</p>

        <p>[[⮕ Next|endingB12]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB12">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said, "You know I don't feel the same way about you, right?"</p>

        <p>[[⮕ Next|endingB13]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB13">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"I know," you said. You looked disappointed, still. "Yeah, I—I've known for a while. But I had to tell you. We—we can still be friends, right?"</p>

        <p>[[⮕ Next|endingB14]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB14">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The sunlight shifted. The pattern of the door on the wall disappeared.</p>

        <p>[[⮕ Next|endingB15]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB15">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said, "Sure."</p>

        <p>[[⮕ Next|endingB16]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB16">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Can I kiss you? Just—one time."</p>

        <p>[[⮕ Next|endingB17]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB17">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said, "Sure."</p>

        <p>[[⮕ Next|endingB18]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB18">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You leaned in, put your hands on my shoulders, and kissed me.</p>

        <p>[[⮕ Next|endingB19]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB19">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Your lips touched mine.</p>

        <p>Your breath was hot and wet against my face. My glasses knocked against yours.</p>

        <p>It felt like nothing.</p>

        <p>[[⮕ Next|endingB19.5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB19.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>It felt vaguely nauseating.</p>

        <p>[[⮕ Next|endingB20]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB20">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I felt vaguely disgusted with myself.</p>

        <p id="branch1">[[⮕ Next|endingB21]]</p>
        <p id="branch2">[[⮕ Next|endingB20.5]]</p>
    </div>

    <% 
    $(function () {
        if (story.gender === "x") {
            document.getElementById("branch1").style.setProperty('display', 'none');
        }
        else {
            document.getElementById("branch2").style.setProperty('display', 'none');
        }
    });
    %>

</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB20.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You never understood who I really was, but you were still pathetic enough to fall in love with someone who never existed.</p>

        <p>I should have said no.</p>

        <p>[[⮕ Next|endingB21]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB21">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Whatever reaction you'd been hoping for, you clearly hadn't found it. I saw your expression crumple.</p>

        <p>[[⮕ Next|endingB21.5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB21.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I knew, then, that we would never talk to each other again.</p>

        <p>[[⮕ Next|endingB22]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingB22">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Lunch is ending. Let's go," I said.</p>

        <p>[[⮕ Next|finalB0]]</p>
    </div>
</snippet>