<snippet tags="earth earthMusicB meImage2" name="endingA_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|endingA1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You knocked.</p>

        <p>[[⮕ Next|endingA2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You said, "Hey, are you there? I saw you going in, I'm sorry, if you're going through a bad time or whatever, I'm here for you, okay? I don't know what else I can say."</p>

        <p>[[⮕ Next|endingA3]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said nothing.</p>

        <p>[[⮕ Next|endingA4]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"You didn't really mean that stuff about how you don't care about me, right? I know I haven't been—I mean, maybe I screwed up a bit, but I don't..."</p>

        <p>[[⮕ Next|endingA5]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said nothing.</p>

        <p>[[⮕ Next|endingA6]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Look, I'm sorry. Can I come in? Please, can I come in? I have something I need to tell you. It's really important. I—you're my only friend."</p>

        <p>[[⮕ Next|endingA7]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>The door slid open a crack—</p>

        <p>[[⮕ Next|endingA8]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said, "I meant every word. Don't ever talk to me again. I don't need you or anyone else anymore. I'm leaving and I'm not coming back."</p>

        <p>[[⮕ Next|endingA9]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"What?"</p>

        <p>[[⮕ Next|endingA10]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA10">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Go away."</p>

        <p>[[⮕ Next|endingA11]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA11">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"What are you talking about? You're not about to do anything stupid, are you? Let me in. We can sort this out, whatever's happening we can fix it, it's okay, cmon—"</p>

        <p>[[⮕ Next|endingA12]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA12">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Go away."</p>

        <p>[[⮕ Next|endingA13]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA13">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I put my hand on the door.</p>

        <p>[[⮕ Next|endingA14]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA14">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Wait! You can't—what are you doing—<span class="myName"></span>, listen."</p>

        <p>[[⮕ Next|endingA14.1]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA14.1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You said to me:</p>

        <p>[[⮕ Next|endingA14.2]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA14.2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"<span class="myName"></span>, I love you. I love you. I mean, romantically. I love you, I've been in love with you for years, okay? Please. Listen to me. I know now isn't the best time but I—wait—"</p>

        <p>[[⮕ Next|endingA15]]</p>
    </div>
</snippet>

<snippet tags="earth earthMusicB meImage2" name="endingA15">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_classroom4.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I slammed the door in your face.</p>

        <p>[[⮕ Next|finalA1]]</p>
    </div>
</snippet>
