<snippet tags="endB" name="finalB0">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|finalB1]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>That spring is over now. It was many years ago.</p>

        <p>[[⮕ Next|finalB2]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>We never did speak again, after that. We stopped eating together. Privately, I was glad.</p>

        <p>[[⮕ Next|finalB3]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I got a job eventually, despite my reservations.</p>

        <p>[[⮕ Next|finalB4]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I work in an office with many cubicles. There are only a few windows here. Sometimes I can barely see the sun.</p>

        <p>It's not a social job.</p>

        <p>Most days I don't talk to people at all.</p>

        <p>[[⮕ Next|finalB5]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I live alone, in a small apartment.</p>

        <p id="branch1">[[⮕ Next|finalB6]]</p>
        <p id="branch2">[[⮕ Next|finalB_extra1]]</p>
    </div>

    <% 
    $(function () {
        if (story.gender === "x") {
            document.getElementById("branch1").style.setProperty('display', 'none');
        }
        else {
            document.getElementById("branch2").style.setProperty('display', 'none');
        }
    });
    %>
</snippet>

<snippet tags="endB" name="finalB_extra1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I have a real name now.</p>

        <p>Everyone knows.</p>

        <p>[[⮕ Next|finalB_extra2]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB_extra2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>In some ways, it made things better.</p>

        <p>In other ways, life remains largely the same.</p>

        <p>[[⮕ Next|finalB_extra3]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB_extra3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I still can't stand other people.</p>

        <p>I minimize all interactions with them. It's not worth it.</p>

        <p>[[⮕ Next|final_extra4]]</p>
    </div>
</snippet>

<snippet tags="endB" name="final_extra4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>Sometimes I think about that other world I saw, and the fleeting dreams I had, which were infinitely more vivid than reality.</p>

        <p>[[⮕ Next|finalB8]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I've never entered a relationship with anyone.</p>

        <p>[[⮕ Next|finalB6.5]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB6.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I've never kissed anyone else.</p>

        <p>[[⮕ Next|finalB6.6]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB6.6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I minimize all interactions with people.</p>

        <p>It's not worth it.</p>

        <p>[[⮕ Next|finalB7]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I still think sometimes about the other world I saw, and the fleeting dreams I had, which were infinitely more vivid than reality.</p>

        <p>[[⮕ Next|finalB8]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>But they have disappeared.</p>

        <p>As all things will.</p>

        <p>[[⮕ Next|finalB10]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB10">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>END</p>

        <p>[[⮕ Next|start]]</p>
    </div>
</snippet>