<snippet tags="endA" name="finalA1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>That spring is over now.</p>

        <p>[[⮕ Next|finalA2]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I'm in a far happier place.</p>

        <p>[[⮕ Next|finalA3]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I've found everything I ever wanted.</p>

        <p>[[⮕ Next|finalA4]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>As for everyone else I knew?</p>

        <p>[[⮕ Next|finalA5]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I'll never have to talk to them again.</p>

        <p>[[⮕ Next|finalA6]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>END</p>

        <p>[[⮕ Next|start]]</p>
    </div>
</snippet>
