<snippet name="finalA1">
    <div style="text-align: center">
        <p class="transition">[[❃❃❃❃❃❃|finalA1.5]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA1.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>That spring is over now.</p>

        <p>[[⮕ Next|finalA2]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I'm in a far happier place.</p>

        <p>[[⮕ Next|finalA3]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I have everything I wanted.</p>

        <p>[[⮕ Next|finalA6]]</p>
    </div>
</snippet>

<snippet tags="endA" name="finalA6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_glade.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>END</p>

        <p>[[⮕ Next|start]]</p>
    </div>
</snippet>
