<snippet tags="endB" name="finalB1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>That spring is over now. It was many years ago.</p>

        <p>[[⮕ Next|finalB2]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>We never did speak again, after that. We stopped eating together. Privately, I was glad.</p>

        <p>[[⮕ Next|finalB3]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I did get a job eventually, despite my reservations.</p>

        <p>[[⮕ Next|finalB4]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I work PR, in an office with many cubicles. There aren't many windows here. Sometimes I can barely see the sun.</p>

        <p>[[⮕ Next|finalB5]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I live alone, in my own apartment.</p>

        <p>[[⮕ Next|finalB6]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I've never entered a relationship with anyone.</p>

        <p>[[⮕ Next|finalB6.5]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB6.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I've never kissed anyone else. I don't intend to.</p>

        <p>[[⮕ Next|finalB7]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>I still think, sometimes, about the other world I saw, and the fleeting dreams I had, which were infinitely more vivid than reality.</p>

        <p>[[⮕ Next|finalB8]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>But they have disappeared.</p>

        <p>[[⮕ Next|finalB9]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>As all things will.</p>

        <p>[[⮕ Next|finalB10]]</p>
    </div>
</snippet>

<snippet tags="endB" name="finalB10">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_cubicle.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel bigPanel">
        <p>END</p>

        <p>[[⮕ Next|start]]</p>
    </div>
</snippet>