<snippet tags="earth" name="youC_transition">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <span class="transition">❈</span>

        <p>[[⮕ Next|youC1]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC1">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>Out of nowhere, you leaned over the table and asked:</p>

        <p>"Do you believe in God?"</p>

        <p>[["I think I do."|youC2]]</p>
        <p>[["I'm not sure."|youC4]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC2">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"You think?"</p>

        <p>"I mean, uh. I, uh."</p>

        <p>[[⮕ Next|youC3]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC3">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I couldn't say it.</p>

        <p>[[⮕ Next|youC6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC4">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"Oh. Because—because I do, you know? My family's Christian, and so am I. Because without God there's just no meaning to it all. So life on earth is pointless. All life is pointless. So I have to believe."</p>

        <p>[[⮕ Next|youC5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I don't think I said anything to that. I was trying to think of a way to respond without offending you.</p>

        <p>[[⮕ Next|youC6]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC6">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>You looked apologetic. You said, "Sorry, I didn't mean to make you uncomfortable. I just wanted to know. That you believe in the Lord I mean. I mean, I mean, nevermind. This could get awkward. Let's talk about something else."</p>

        <p>[["Actually, you know what?"|youC8]]</p>
        <!-- <p>[["It's okay."|youC7]]</p> -->
    </div>
</snippet>

<snippet tags="earth" name="youC7">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>We never brought it up again.</p>

        <p>[[⮕ Next|youC8]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC8">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said, "Actually, you know what? I've been thinking about it. A lot. And I don't think I believe in God at all."</p>

        <p>[[⮕ Next|youC9]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC9">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"But—"</p>

        <p>[[⮕ Next|youC10]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC10">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"I'm sick of God. Sick. You hear me? Sick. I can't stand it."</p>

        <p>[[⮕ Next|youC11]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC11">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>"But—"</p>

        <p>[[⮕ Next|youC11.5]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC11.5">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I said:</p>

        <p>[[⮕ Next|youC12]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC12">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel" style="width: 99%; height: 99%;">
        <p>"I'm sick of God. I'm sick of going to church every Sunday and I'm sick of hearing my gram's TV broadcasts and I'm sick of hearing her screaming at my gramps at night because he pissed on the bathroom floor because he has dementia and he's never getting better. She starts screaming and she just doesn't shut up even if I curl up in the closet with my hands covering my ears I can still hear her because she just doesn't shut up and I hear these muffled bangs like the sound of something being thrown at a wall and imagine her snapping his brittle arms and legs like sticks whaling on him as he groans in pain and she keeps screaming because she never stops screaming. I hope they die. That's what I go around thinking, all the time. I want to stab them. I want to run them over with a car. I want to douse them with gasoline and light them on fire. I'm a sinful person because I don't love my family. I don't think I've ever loved them or if I have I can't remember it. I keep thinking about how if I was orphaned in a freak accident I'd feel nothing. But that's why I'm going to Hell when I die. I can't bring myself to believe in God but I believe in Hell. Humans suffer from total depravity. I'm a depraved person. My whole nature is corrupt, my heart is putrid, I am completely lacking in original righteousness. Every day I defile myself and everyone else I know. You too. I hate you. I despise you. I never told you before because I was trying to be nice but you're one of the most annoying people I know. I can't stand you. I'm sick of you and I want you to shut up and go away forever. I want everyone to shut up and go away forever. I want everyone to die."</p>

        <p>[[⮕ Next|youC13]]</p>
    </div>
</snippet>

<snippet tags="earth" name="youC13">
    <div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/earth_picnic_tables.gif'); background-size: cover"></div>
    <div class="absoluteAlign blackBg textPanel">
        <p>I got up and left.</p>

        <p>[[⮕ Next|breakroom_transition]]</p>
    </div>
</snippet>