<snippet name="garden_startpath2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_startpath.gif'); background-size: cover">
</div>

<% 
$(function () {
    window.mainScript.addArrow("up", 2, 35, "garden_startpath");

    const lilydialogue1 = [
        {
            text: "This garden has fallen into disrepair. It is more appropriately a jungle, now. The well-tended paths have become labyrinths. What a shame. What a shame.",
            playerOptions: [{text: "What do you mean?", nextPassage: 1}, {text: "Uh, okay, whatever.", nextPassage: null}]
        },
        {
            text: "Ugh. People never understand.",
            playerOptions: [{text: "Uh, okay, whatever.", nextPassage: null}]
        },
    ];

    window.mainScript.addNpc("assets/d_lily.gif", 15, 55, 40, "Lily", lilydialogue1);
});
%>

</snippet>