<snippet tags="dream" name="garden3_field">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/field.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_centerupupup");
});
%>

</snippet>
