<snippet tags="dream" name="garden3_center">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_center1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_centerup");
    mainScript.addArrow("right", "garden3_glade0");
    mainScript.addArrow("left", "garden3_flower1");
});
%>

</snippet>

<snippet tags="dream" name="garden3_centerup">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_center2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_centerupup");
    mainScript.addArrow("down", "garden3_center");
});
%>

</snippet>

<snippet tags="dream" name="garden3_centerupup">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_center1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_centerupupup");
    mainScript.addArrow("down", "garden3_centerup");
});
%>

</snippet>

<snippet tags="dream" name="garden3_centerupupup">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/garden_center.gif'); background-size: cover; animation: blur 0.25s infinite alternate ease">
</div>

<div id="gate1" class="absoluteAlign bothHalves"></div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_centerupup");

    const gate1 = document.getElementById("gate1");
    gate1.style.cursor = "pointer";

    if (!story.lilyPicked) {
        mainScript.addNpc("assets/d_benedykt.gif", 20, 65, 30, "Benedykt", mainScript.dialogue.gateDialogue);

        gate1.addEventListener("click", () => {
            mainScript.showDialogue(mainScript.dialogue.gate2)
        });
    } else {
        mainScript.addNpc("assets/d_benedykt.gif", 20, 65, 30, "Benedykt", mainScript.dialogue.gateDialogue2);

        gate1.addEventListener("click", () => {
            mainScript.showDialogue(mainScript.dialogue.gate2b)
        });
    }
});
%>

</snippet>