<snippet tags="dream" name="garden3_overlook0">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/overlook0.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_glade1");
    mainScript.addArrow("right", "garden3_overlook1");
});
%>

</snippet>

<snippet tags="dream" name="garden3_overlook1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/overlook1.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_overlook0", 70, 1);
    mainScript.addArrow("right", "garden3_overlook2", 70, 95);
    mainScript.addArrow("up", "garden3_house2_1", 40, 27);
    /*
    mainScript.addArrow("left", "garden3_overlook0");
    mainScript.addArrow("right", "garden3_overlook2");
    */
});
%>

</snippet>

<snippet tags="dream" name="garden3_overlook2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/overlook2b.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_overlook1", 85, 1);

    mainScript.addNpc("assets/d_deer1.gif", 55, 40, 13, "Deer △", mainScript.dialogue.miscDialogue2a);
});
%>

</snippet>

<snippet tags="dream" name="garden3_house2_1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/house2_1.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_house2_2", 60, 32);
    mainScript.addArrow("down", "garden3_overlook1", 90, 17);
});
%>

</snippet>

<snippet tags="dream" name="garden3_house2_2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/house2_2.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_house2_inside", 57, 30);
    mainScript.addArrow("down", "garden3_house2_1", 90, 25);
});
%>

</snippet>

<snippet tags="dream" name="garden3_house2_inside">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_church.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_house2_2");
});
%>

</snippet>