<snippet tags="dream dreamMusicA" name="garden3_field">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/field.gif'); background-size: cover;filter: saturate(0.7) hue-rotate(35deg);">
</div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_centerupupup");

    mainScript.addInteractable(0, 0, 0, 0, mainScript.dialogue.field2);
});
%>

</snippet>
