<snippet tags="dream dreamMusicC" name="garden3_flower1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_flower1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_flower2");
    mainScript.addArrow("right", "garden3_center");
    mainScript.addArrow("up", "garden3_flowerup")
});
%>

</snippet>

<snippet tags="dream dreamMusicC" name="garden3_flowerup">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_flower2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_flower1");
});
%>

</snippet>

<snippet tags="dream dreamMusicC" name="garden3_flower2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_flower3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("right", "garden3_flower1");
    mainScript.addArrow("left", "garden3_house1_1");
});
%>


</snippet>