<snippet tags="dream dreamMusicA" name="garden3_glade0">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_center");
    mainScript.addArrow("right", "garden3_glade1");
    mainScript.addArrow("down", "garden3_glade2");
});
%>

</snippet>


<snippet tags="dream dreamMusicA" name="garden3_glade1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_glade0");
    mainScript.addArrow("right", "garden3_overlook0");
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden3_glade2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_glade0");
    mainScript.addArrow("right", "garden3_glade3");
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden3_glade3">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_glade2");
});
%>

</snippet>