<snippet tags="dream dreamMusicA" name="garden3_house1_1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_house1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden3_house1_2");
    mainScript.addArrow("right", "garden3_flower2");
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden3_house1_2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_house2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("right", "garden3_house1_1");
    mainScript.addArrow("up", "garden3_houseInterior", 60, 7);

    mainScript.addNpc("assets/d_amalgamia.gif", 45, 72, 10, "Amalgamia", mainScript.dialogue.amalgamiaDialogue);
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden3_houseInterior">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_houseInterior.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_house1_2");
});
%>

</snippet>