<snippet name="dreamtransition3">
    <div style="text-align: center">
        <p class="transition">[[❃❃❃❃❃❃|garden3_startpath]]</p>
    </div>
<% 
$(function () {
    mainScript.preload([
        "assets/9_tower.png.gif",
        "assets/9_tower_zoom1.png.gif",
        "assets/9_tower_zoom2.png.gif",
        "assets/9_towerreal1.png.gif",
        "assets/9_towerreal10.png.gif",
        "assets/9_towerreal11.png.gif",
        "assets/9_towerreal12.png.gif",
        "assets/9_towerreal13.png.gif",
        "assets/9_towerreal2.png.gif",
        "assets/9_towerreal3.png.gif",
        "assets/9_towerreal4.png.gif",
        "assets/9_towerreal5.png.gif",
        "assets/9_towerreal7.png.gif",
        "assets/9_towerreal8.png.gif",
        "assets/9_towerreal9.png.gif",
        "assets/tower_before.gif",
        "assets/9portrait1b.png_glitch.gif",
        "assets/9portrait2a.png_glitch.gif",
        "assets/9portrait2b.png_glitch.gif"
    ]);
});
%>

</snippet>

<snippet tags="dream dreamMusicC" name="garden3_startpath">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath2", 59, 41);
});
%>
</snippet>

<snippet tags="dream dreamMusicC" name="garden3_startpath2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath3", 59, 42);
    mainScript.addArrow("down", "garden3_startpath");
});
%>
</snippet>

<snippet tags="dream dreamMusicC" name="garden3_startpath3">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath4", 55, 43);
    mainScript.addArrow("down", "garden3_startpath2", 92, 40);

    mainScript.addNpc("assets/d_cheeyon.gif", 20, 7, 23, "Cheeyon", mainScript.dialogue.miscDialogue4);
});
%>
</snippet>

<snippet tags="dream dreamMusicC" name="garden3_startpath4">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_gate1", 59, 53);
    mainScript.addArrow("down", "garden3_startpath3", 92, 53);
});
%>
</snippet>

<snippet tags="dream dreamMusicC" name="garden3_gate1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_gate1.png.gif'); background-size: cover; animation: blur 0.75s infinite alternate ease"></div>

<div id="gate1" class="absoluteAlign bothHalves"></div>
<div id="gate2" class="absoluteAlign bothHalves"></div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_startpath4", 92, 40);

    const gate1 = document.getElementById("gate1");
    gate1.style.cursor = "pointer";
    gate1.addEventListener("click", () => {
        mainScript.showDialogue(null, mainScript.dialogue.gate1_3);
    });
});
%>

</snippet>

<snippet name="dream3end">
    <div style="text-align: center">
        <p>[[I woke up with blood under my fingernails.|lifeA_transition]]</p>
    </div>
</snippet>