<snippet name="dreamtransition3">
    <div style="text-align: center">
        <p class="transition">[[❃❃❃❃❃❃|garden3_startpath]]</p>
    </div>
</snippet>

<snippet tags="dream" name="garden3_startpath">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path1.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath2", 59, 41);
});
%>
</snippet>

<snippet tags="dream" name="garden3_startpath2">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath3", 59, 42);
    mainScript.addArrow("down", "garden3_startpath");
});
%>
</snippet>

<snippet tags="dream" name="garden3_startpath3">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_startpath4", 55, 43);
    mainScript.addArrow("down", "garden3_startpath2", 92, 40);
});
%>
</snippet>

<snippet tags="dream" name="garden3_startpath4">
<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_path4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden3_gate1", 59, 53);
    mainScript.addArrow("down", "garden3_startpath3", 92, 53);
});
%>
</snippet>

<snippet tags="dream" name="garden3_gate1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_gate1.png.gif'); background-size: cover; animation: blur 0.75s infinite alternate ease"></div>

<div id="gate1" class="absoluteAlign bothHalves"></div>
<div id="gate2" class="absoluteAlign bothHalves"></div>

<% 
$(function () {
    mainScript.addArrow("down", "garden3_startpath6", 92, 40);

    const gate1 = document.getElementById("gate1");
    gate1.style.cursor = "pointer";
    gate1.addEventListener("click", () => {
        mainScript.showDialogue(mainScript.dialogue.gate1_3)
    });
});
%>

</snippet>