<snippet tags="dream" name="garden4_tower_inside1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal1.png.gif'); background-size: cover">
</div>

<!--<img src="assets/ladder2.gif" alt="ladder" class="ladder" style="position: absolute; top: 5%; bottom: 5%; left: 45%; width: 10%;"/>-->

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside2", 23, 45);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside3", 20, 46);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>


<snippet tags="dream" name="garden4_tower_inside3">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside4", 20, 49);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside4">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside5", 20, 49);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside5">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal11.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside6", 20, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside6">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal12.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside7", 23, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside7">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal13.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside8", 23, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside8">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal5.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside10", 29, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside10">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal7.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside11", 23, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside11">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal8.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside12", 23, 48);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside12">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal9.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden4_tower_inside13", 23, 50);
    mainScript.addArrow("down", "garden4_tower3");
});
%>

</snippet>

<snippet tags="dream" name="garden4_tower_inside13">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_towerreal10.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addNpc("assets/prism.gif", 30, 45, 30, null, mainScript.dialogue.prism);
});
%>

</snippet>