<snippet tags="dream dreamMusicA" name="garden2_glade0">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden2_center");
    mainScript.addArrow("right", "garden2_glade1");
    mainScript.addArrow("down", "garden2_glade2");
});
%>

</snippet>


<snippet tags="dream dreamMusicA" name="garden2_glade1">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden4.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden2_glade0");

    if (!story.myInventory.checkHasItem("lily")) {
        mainScript.addNpc("assets/d_tanqing.gif", 20, 30, 25, "Tanqing", mainScript.dialogue.flowerDialogue);
    } else {
        mainScript.addNpc("assets/d_tanqing.gif", 20, 30, 25, "Tanqing", mainScript.dialogue.flowerDialogue2);
    }
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden2_glade2">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden2.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("up", "garden2_glade0");
    mainScript.addArrow("right", "garden2_glade3");
});
%>

</snippet>

<snippet tags="dream dreamMusicA" name="garden2_glade3">

<div class="absoluteAlign bothHalves gameBg" style="background-image: url('assets/9_garden3.png.gif'); background-size: cover">
</div>

<% 
$(function () {
    mainScript.addArrow("left", "garden2_glade2");

    if (!story.myInventory.checkHasItem("lily")) {
        mainScript.addNpc("assets/lily1.gif", 35, 20, 25, null, mainScript.dialogue.lily1);
    }
});
%>

</snippet>